<form class="form-horizontal">
    <div class="page-header">
        <h1 class="form-title">
            Create Fortune Cookie
        </h1>
    </div>
    <div class="form-group">
        <label for="text-cookie-box" class="col-sm-2 control-label">Text:</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="text-cookie-box" placeholder="Text">
        </div>
    </div>
    <div class="form-group">
        <label for="category-cookie-box" class="col-sm-2 control-label">Category:</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="category-cookie-box" placeholder="Category"/>
        </div>
    </div>
    <div class="form-group">
        <label for="img-cookie-box" class="col-sm-2 control-label">Image Url:</label>
        <div class="col-sm-5">
            <input type="url" class="form-control" id="img-cookie-box" placeholder="Image Url"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="btn-cookie-add" class="btn btn-default">Add Cookie</button>
        </div>
    </div>
</form>